.dashboard-container{
    display: grid;
    grid-template-columns: calc(max(15rem, 25%) ) 1fr;
    min-height: 100vh;
    background-color: var(--color-primary);
}

.dashboard-container > .main-chat{
    border: 3px solid red;
    position: relative;
}