@import "../../styleMaster";

.login-container {
	@include beginner-container;

	.form-container{
		@include basic-form-container;
	
		.form-elements{
			@include basic-form-style;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			gap: 0.5rem;
		}
	}
}